{% extends 'base_forms.html' %}

{% block title %}Book detail{% endblock %}

{% block card_header %}
    <h3>{{ book.title }}</h3>
    <img class="card-img-top" src="{{ url_for('static', filename='pics/' + book.image_file) }}" alt="Book cover">
{% endblock %}

{% block card_body %}
    <p><b>Author:</b> {{ book.author }}</p>
    <p><b>Created at:</b> {{ book.created }}</p>
    <p><b>Rating:</b> {{ book.rating }}</p>
    <p><b>Owner:</b> {{ book.book_owner.username }}</p>
{% endblock %}

{% block card_footer %}
    <a href="{{ url_for('books') }}">To all Books</a>
{% endblock %}