{% extends 'base_forms.html' %}

{% block title %}Add new journal{% endblock %}

{% block card_header %}
    <h3>Add new journal</h3>
{% endblock %}

{% block card_body %}
    <p>Add new journal using following form:</p>
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=40) }}
            {% for error in form.title.errors %}
                {{ error }}
            {% endfor %}
        </p>
        <p>
            {{ form.editor.label }}<br>
            {{ form.editor(size=40) }}
            {% for error in form.editor.errors %}
                {{ error }}
            {% endfor %}
        </p>
        <p>
            {{ form.page_amount.label }}<br>
            {{ form.page_amount(size=40) }}
            {% for error in form.page_amount.errors %}
                {{ error }}
            {% endfor %}
        </p>
        <button type="submit" class="btn btn-success">Add</button>
    </form>
{% endblock %}

{% block card_footer %}
    <span>
        Back to <a href="{{ url_for('journals') }}">all journals</a>.
    </span>
{% endblock %}